<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Appointments</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Appointment List</h2>
    <table>
      <tr>
        <th>ID</th><th>Patient</th><th>Doctor</th><th>Date</th><th>Time</th><th>Reason</th>
      </tr>
      {% for appointment in appointments %}
      <tr>
        <td>{{ appointment['id'] }}</td>
        <td>{{ appointment['patient_name'] }}</td>
        <td>{{ appointment['doctor_name'] }}</td>
        <td>{{ appointment['date'] }}</td>
        <td>{{ appointment['time'] }}</td>
        <td>{{ appointment['reason'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
